@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


*{
	padding: 0px;
	margin: 0px;
}
#Golovna{
	background-image: url(https://i.ytimg.com/vi/V3uF5jba1-k/maxresdefault.jpg);
	background-size: cover;
	height: 400px;
	width: 100%;
}
#Proclass{
	font-size: 60px;
	font-family: 'Roboto Condensed', sans-serif;
}
.Gtext{
	padding-top: 150px;
	flex-direction: center;
	text-align: center;
	 background-color: rgba(0, 120, 201, 0.4);
	 padding-bottom: 50px;
	 color: white;
}
.Ntext{
	padding-top: 80px;
	text-align: center;
}
.Ptext{
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}
.Stext{
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
#Pro{
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding: 50px;
	 background-color: rgba(136, 8, 8, 0.4);
}
#Soc{
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding: 50px;
	 background-color: rgba(0, 120, 201, 0.4);
}
#Nov{
	display: flex;
	text-align: center;
	justify-content: space-around;
	padding: 50px;
	 background-color: rgba(0, 120, 201, 0.4);
}
#Dv{
	flex-direction: column;
	transition-duration: .5s;
}
#Dv:Hover{
	padding: 20px;
	font-size: 30px;
	-webkit-box-shadow: 6px 9px 100px -9px rgba(60, 83, 101, 0.2);
-moz-box-shadow: 6px 9px 100px -9px rgba(60, 83, 101, 0.2);
box-shadow: 6px 9px 100px -9px rgba(60, 83, 101, 0.2);
	flex-direction: column;
}
h1{
	font-size: 100px;
	font-family: 'Roboto Condensed', sans-serif;
}
p{
	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
#Ph{
	padding: 20px;
	margin: 50px;
	display: flex;
	background-color: rgba(136, 8, 8, 0.4);
}
table{
	display: flex;
	justify-content: center;
	Color: black;
	text-align: center;
	justify-content: space-around;
}
th{
	padding: 10px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 50px;
padding-left: 50px;
}
td{
	padding: 10px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 30px;
padding-left: 50px;
}
footer p{
	display: flex;
	justify-content: space-around;
	font-size: 40px;
}




@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: rgba(136, 8, 8);}
.menu-main a.current, .menu-main a:hover{color: rgba(0, 120, 201);}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
